@import "../../styles/variable";

.filter_section {
  padding: 40px 0 15px 0;
}

.filter_title {
  @include sizer(35px);
  margin-bottom: 40px;
}

.filter_wrapper {
  padding: 20px 30px;
  background-color: #dfdad8;
  border-radius: 10px;
}

.form_wrapper {
  //   display: flex;
}

.form_wrapper_grup {
  display: flex;
  justify-content: space-between;
}

.form_wrapper_grupBottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.form_wrapper_item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form_label {
  margin-bottom: 5px;

  color: var(--color-black, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.form_input {
  padding: 10px 10px 10px 40px;
  width: 191px;
  height: 42px;
  border-radius: 6px;
  border: 1px solid var(--prototype-grey-dark, #a3a3a3);
}

.form_inputSecond {
  margin-left: 10px;
}

.form_button {
  @include button;
  align-items: center;
  border-radius: 100px;
  padding: 11px 158px;
  gap: 10px;
}

.form_title {
  margin-bottom: 20px;
  @include sizer(22px);
}

.form_inputsWrapper {
  display: flex;
}

.form_inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.form_prefix,
.form_suffix {
  color: var(--color-text, #6c6c6a);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.form_prefix {
  position: absolute;
  left: 10px;
}

.form_suffix {
  position: absolute;
  right: 10px;
}

.form_error {
  position: absolute;
  top: 0;
  right: 0;
}
