.servicesBlock {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 1280px;
  height: 460px;
  border-radius: 15px;
  background: var(--color-green, #d5d7c4);
  margin: 0 auto;
  padding: 20px;

  .commonBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 610px;
    padding: 20px;
    h1 {
      font-size: 35px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      opacity: 0.5;
    }
  }
  .optionBlock {
    display: flex;
    width: 610px;
    padding: 30px;

    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    background: var(--color-background, #f1efec);
    h2 {
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      opacity: 0.5;
    }
    .textContentOptionBlock {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 50px;
      justify-content: space-between;
    }
  }
  .btnLink {
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    flex-shrink: 0;
  }
}
@media only screen and (max-width: 1440px) {
  .servicesBlock {
    width: 1280px;
    height: 460px;
    margin: 80px;
  }
}
@media only screen and (max-width: 1024px) {
  .servicesBlock {
    width: 984px;
    height: 378px;
    margin: 20px;
    .commonBlock {
      width: 462px;
      h1 {
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    .optionBlock {
      width: 462px;
      padding: 20px;
      .textContentOptionBlock {
        gap: 20px;
        h2 {
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
      .btnLink {
        width: 36px;
        height: 36px;
        align-self: flex-start;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .servicesBlock {
    width: 738px;
    height: 561px;
    margin: 15px;
    gap: 15px;
    flex-direction: column;
    flex-wrap: nowrap;
    .commonBlock {
      width: 100%;
      flex-direction: row;
      padding: 5px;

      h1 {
        width: 50%;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p {
        width: 50%;
      }
    }
    .optionBlock {
      width: 100%;
      padding: 25px;
      .textContentOptionBlock {
        gap: 20px;
        h2 {
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
      .btnLink {
        align-self: end;
      }
    }
  }
}

@media only screen and (max-width: 428px) {
  .servicesBlock {
    width: 398px;
    height: 729px;
    margin: 15px;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    .commonBlock {
      width: 100%;
      flex-direction: column;
      padding: 15px 10px;
      gap: 20px;
      h1 {
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p {
        width: 100%;
      }
    }
    .optionBlock {
      width: 100%;
      padding: 20px;
      .textContentOptionBlock {
        gap: 41px;
        h2 {
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
      .btnLink {
        align-self: flex-start;
      }
    }
  }
}
