@import '../../styles/variable';

.stages_header_content {
  display: none;
}
.stages_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 130px 0px;

  .stages_picture {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.08) 100%
      ),
      url('../../../public/stage_block_bg.png'), lightgray 50% / cover no-repeat;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);

    width: 522px;
    height: 589px;
    padding: 30px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);

    .stage_picture_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 361px;

      h1 {
        @include sizer(35px);
        color: var(--color-white, #fff) !important;
        width: 315px;
      }

      p {
        width: 462px;
        @include sizer(14px);
        color: var(--color-white-80, rgba(255, 255, 255, 0.8)) !important;
        font-weight: 500 !important;
        line-height: 150% !important; /* 21px */
      }
    }
  }

  .stages_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
}

@media only screen and (max-width: 1248px) {
  .stages_header_content {
    display: block;

    .stages_header {
      display: flex;
      align-items: center;

      h1 {
        @include sizer(26px);
        margin-right: 20px;
      }
      p {
        @include sizer(14px);

        width: 890px;
        color: var(--color-text, #6c6c6a) !important;
        font-weight: 500 !important;
        line-height: 150% !important;
      }
    }
  }
  .stages_content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    .stages_picture {
      display: none;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .stages_header_content {
    display: block;

    .stages_header {
      h1 {
        margin-right: 20px;
      }
      p {
        width: 890px;
      }
    }
  }

  .stages_content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    .stages_picture {
      display: none;
    }
  }
}

@media only screen and (max-width: 940px) {
  .stages_header_content {
    .stages_header {
      p {
        width: 440px;
      }
    }
  }
  .stages_content {
    .stages_cards {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
  }
}

@media only screen and (max-width: 665px) {
  .stages_header_content {
    .stages_header {
      display: block;
      h1 {
        margin: 0;
      }
      p {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
