@import '../../styles/variable';

.questions {
  width: 100%;
  padding: 30px;
  border-radius: 15px;
  background: #d5d7c4;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  .questions_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      @include sizer(35px);
    }
    p {
      max-width: 312px;
      @include sizer(14px);
      color: var(--color-text, #6c6c6a) !important;
      font-weight: 500 !important;
      line-height: 150% !important;
    }
  }
  .questions_accordion {
    width: 48%;
    .questions_accordion_button {
      display: flex;
      position: relative;
      flex-direction: row-reverse;
      justify-content: space-between;

      .header_text {
        @include sizer(22px);
      }

      .post_header_text {
        @include sizer(18px);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .questions {
    .questions_description {
      h3 {
        font-size: 26px;
      }
    }
    .questions_accordion {
      .questions_accordion_button {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .questions {
    padding: 25px;
    flex-direction: column;
    gap: 24px;
    .questions_description {
      h3 {
        padding-bottom: 24px;
      }
    }
    .questions_accordion {
      width: 100%;
    }
  }
}
