@import url("https://rsms.me/inter/inter.css");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
<<<<<<< HEAD
  font-family: 'Inter', sans-serif; 


*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h3 {
  font-weight: 700;
}

p,
input {
  font-weight: 300;
}

ol,
ul {
  list-style-type: none;
}

button,
input,
select {
  border-radius: 0;
  text-align: inherit;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

#root,
#__next {
  isolation: isolate;
}

=======
  font-family: "Inter", sans-serif;
  background: var(--color-background, #f1efec);
>>>>>>> dev
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h3 {
  font-weight: 700;
}

p,
input {
  font-weight: 300;
}

ol,
ul {
  list-style-type: none;
}

button,
input,
select {
  border-radius: 0;
  text-align: inherit;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

#root,
#__next {
  isolation: isolate;
}

.ant-drawer-wrapper-body {
  animation: drawerFadeIn 0.3s ease-in-out !important; /* Имя анимации, длительность и эффект */
  transition: opacity 0.3s ease-in-out !important; /* Плавное изменение прозрачности */
}
.ant-drawer-header-title {
  display: flex !important;
  justify-content: end !important;
}

.ant-checkbox-checked {
  .ant-checkbox-inner {
    background-color: black !important;
    border-color: black !important;
  }
  .ant-checkbox-inner:hover {
    border: 1px solid black !important;
  }
}

.ant-checkbox-input:hover {
  border-color: black; 
}
.swiper-slide{
  width: 433px !important;
}