.section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; // 3.2fr 1fr 1024 // 2fr 1fr 768 // 1fr 428
  gap: 20px; //15px 768 // 12 428

  .section_firstSection {
    border-radius: 10px;
    background: var(--color-beige, #dfdad8);
    padding: 30px; // 25  768 // 15 25 428
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 96px;

    .section_firstSection_title {
      max-width: 230px;

      p {
        color: var(--color-black, #000);
        font-size: 22px; // 26 1024 // 20 428
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    .section_firstSection_topicsWrapper {
      .section_firstSection_topics {
        border-bottom: 1px solid var(--color-text, #6c6c6a);
        padding: 10px;

        p {
          color: var(--color-text, #6c6c6a);
          font-size: 14.004px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
        }
      }
    }
  }

  .section_secondSection {
    display: grid;
    grid-template-columns: 1fr 1fr; // 1fr 1024
    gap: 20px; //15px 1024 // 12 428

    .test {
      display: none; // grid 428
    }

    .box {
      padding: 30px; // 20px 1024
      border-radius: 10px;
      background: var(--color-beige, #dfdad8);
      display: flex; //none 428
      flex-flow: column;
      justify-content: space-between;
      gap: 21px;

      .box_firstSection {
        .box_firstSection_text {
          p {
            color: var(--color-black, #000);
            font-size: 22px; // 18 1024 //
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }

      .box_secondSection {
        position: relative;
        display: flex;
        min-height: 30px;
        align-items: center;
        justify-content: center;

        .box_secondSection_text {
          position: absolute;
          right: 30px;
          padding: 0 10px;
          background-color: #dfdad8;

          p {
            color: var(--color-black, #000);
            font-size: 40px; // 30 1024
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }

        .box_secondSection_line {
          border: 1px solid black;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1141px) {
  .section {
    grid-template-columns: 2fr 1fr; // 3.2fr 1fr 1024 // 2fr 1fr 768 // 1fr 428
    gap: 20px; //15px 768 // 12 428

    .section_firstSection {
      padding: 30px; // 25  768 // 15 25 428

      .section_firstSection_title {
        p {
          font-size: 26px; // 26 1024 // 20 428
        }
      }
    }

    .section_secondSection {
      grid-template-columns: 1fr; // 1fr 1024
      gap: 15px; //15px 1024 // 12 428

      .test {
        display: none; // grid 428
      }

      .box {
        padding: 20px; // 20px 1024
        display: flex; //none 428

        .box_firstSection {
          .box_firstSection_text {
            p {
              color: var(--color-black, #000);
              font-size: 18px; // 18 1024 //
            }
          }
        }

        .box_secondSection {
          .box_secondSection_text {
            p {
              color: var(--color-black, #000);
              font-size: 30px; // 30 1024
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  .section {
    grid-template-columns: 2fr 1fr; // 3.2fr 1fr 1024 // 2fr 1fr 768 // 1fr 428
    gap: 15px; //15px 768 // 12 428

    .section_firstSection {
      padding: 25px; // 25  768 // 15 25 428

      .section_firstSection_title {
        p {
          font-size: 26px; // 26 1024 // 20 428
        }
      }
    }

    .section_secondSection {
      gap: 15px; //15px 1024 // 12 428

      .test {
        display: none; // grid 428
      }

      .box {
        display: flex; //none 428
      }
    }
  }
}

@media only screen and (max-width: 665px) {
  .section {
    grid-template-columns: 1fr; // 3.2fr 1fr 1024 // 2fr 1fr 768 // 1fr 428
    gap: 12px; //15px 768 // 12 428

    .section_firstSection {
      padding: 15px 25px; // 25  768 // 15 25 428

      .section_firstSection_title {
        p {
          font-size: 20px; // 26 1024 // 20 428
        }
      }
    }

    .section_secondSection {
      gap: 12px; //15px 1024 // 12 428

      .test {
        padding: 20px;
        border-radius: 10px;
        background: var(--color-green, #d5d7c4);
        display: grid; // grid 428
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 10px;

        .test_title {
          color: var(--color-black, #000);
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-right: 10px;
        }

        div {
          border: 1px solid black;
          width: 100%;
        }

        .test_desk {
          color: var(--color-black, #000);
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
        }
      }

      .box {
        display: none; //none 428
      }
    }
  }
}
